@media print {
  @page {
    margin: 1in;
  }

  body {
    font-size: 12px!important;
  }

  a:after{
    content:" (" attr(href) ") ";
    font-size:0.8em;
    font-weight:normal;
  }
 
  #sidebar {
    display: none;
  }

  #main > .inner {
    padding: 0!important;
  }

  #main > .inner pre {
    border: 2px solid #ccc;
    border-radius: 0px;
    page-break-inside: avoid;
    white-space: pre-wrap;
  }

  #main > .inner ul {
    margin: 0 0 2em .5em!important;
  }

  #main > .inner blockquote p {
    margin: 1em 0!important;
  }

  #main #header > .icons {
    display: none!important;
  }

  #main #header {
    padding-top: 0;
  }

  img.myImg {
    width: fit-content!important;
    max-width: 80%!important;
  }
}
